[tool.poetry]
name = "{{project_name}}"
version = "0.1.0"
description = ""
authors = ["{{author_name}}{% if author_email %} <{{author_email}}>{% endif %}"]
readme = "README.md"
packages = [{include = "{{package_name}}", from = "src"}]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.103.1"
uvicorn = {extras = ["standard"], version = "^0.23.2"}
pydantic-settings = "^2.0.3"
python-dotenv = "^1.0.0"
prometheus-client = "^0.17.1"
prometheus-fastapi-instrumentator = "^6.1.0"
psutil = "^5.9.5"
asyncio = "^3.4.3"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
pytest-cov = "^4.1.0"
pre-commit = "^3.4.0"
{%- if preferred_linter == 'pylint' %}
pylint = "^2.17.5"
{%- elif preferred_linter == 'black' %}
black = "^23.9.0"
{%- endif %}
{%- if mypy_type_checking != 'none' %}
mypy = "^1.5.1"
{%- endif %}
pytest-asyncio = "^0.21.1"
async-asgi-testclient = "^1.4.11"
pytest-env = "^1.0.1"
ruff = "^0.0.287"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

{%- if preferred_linter == 'black' %}

[tool.black]
line-length = 110
target-version = ["py310"]
{% if use_isort %}
[tool.isort]
profile = "black"
line_length = 110
{%- endif %}

{%- endif %}