from typing import Any

from pydantic_settings import BaseSettings
from .constants import Environment 

from dotenv import load_dotenv
load_dotenv()

class Config(BaseSettings):

    SITE_DOMAIN: str = "app.io"
    ENVIRONMENT: Environment = Environment.PRODUCTION

    CORS_ORIGINS: list[str] = []
    CORS_ORIGIN_REGEX: str | None = None
    CORS_HEADERS: list[str] = ["*"]

    API_VERSION: str = "1"

settings = Config()

# apllication specific configuration
app_configs: dict[str, Any] = {
    "title": "{{project_name}}"
}

